{% extends "base.html" %}
{% block title %}Receipts{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/receipt.css') }}">

<blockquote class="welcome-message">
    <h2>Welcome to AI Grocery Shopping Assistant</h2>
    We are here to help you not only manage your groceries better but also save money and eat healthier.<br>
    Upload a picture of your most recent grocery shopping receipt to get started!
</blockquote>

<h1>Manage Receipts</h1>

<h2>Upload Receipt</h2>
<form method="POST" action="{{ url_for('upload_receipt') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }} <!-- Includes CSRF token -->
    <div class="mb-3">
        <label for="receipt_image" class="form-label">Upload Receipt Image</label>
        {{ form.receipt_image(class="form-control", accept=".png,.jpeg,.jpg", required=True, id="receipt_image") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>

<form method="POST" action="{{ url_for('delete_receipts') }}" onsubmit="return confirm('Are you sure you want to delete all receipts? This action cannot be undone.');">
    {{ form.hidden_tag() }} <!-- Includes CSRF token -->
    <button type="submit" class="btn btn-danger">Clear Receipts</button>
</form>

<h2>Receipt Database</h2>
{% if receipt_items %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Weight</th>
            <th>Category</th>
            <th>Price</th>
            <th>Purchase Date</th>
            <th>Expiration Date</th>
            
        </tr>
    </thead>
    <tbody>
        {% for item in receipt_items %}
        <tr id="row-{{ item.id }}">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.category }}</td>
            <td> {{item.price}}</td>
            <td>{{ item.purchase_date }}</td>
            <td>{{ item.expiration_date }}</td>
            
        </tr>
        
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No receipt items found.</p>
{% endif %}

{% endblock %}