{% extends "base.html" %}
{% block title %}Stock{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stock.css') }}">


<blockquote><h1>Manage Stock</h1>

 
</blockquote>
<h4> What do you have in your fridge today? </h4>


<form method="POST" action="{{ url_for('upload_stock') }}" enctype="multipart/form-data">
    {{ stock_form.hidden_tag() }} 
    <div class="mb-3">
        <label for="stock_image" class="form-label">Upload Stock Image</label>
        <input type="file" class="form-control" id="stock_image" name="stock_image" accept=".png,.jpeg,.jpg" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload Stock</button>
</form>

<h2>Stock Database</h2>
{% if stock_items %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Weight</th>
            <th>Category</th>
            <th>Shelf Life (days)</th>
            
        </tr>
    </thead>
    <tbody>
        {% for item in stock_items %}
        <tr id="row-{{ item.id }}">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.shelf_life }}</td>
            
        </tr>
       
        
        {% endfor %}
        <form method="POST" action="{{ url_for('delete_stock') }}">
            {{ dsf.hidden_tag() }} <!-- CSRF Token for protection -->
            <button type="submit" class="btn btn-danger">Clear Stock</button>
        </form>
    </tbody>
</table>
{% else %}
<p>No stock items found.</p>
{% endif %}
{% endblock %}